
<header class="container">
  <h1>Lista de Produtos</h1>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">ADICIONAR PRODUTO</button>
</header>
<main class="container">
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <td>Nome</td>
          <td>Valor</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos">
          <td>{{produto.nome}}</td>
          <td>{{produto.valor}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar Produto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="container_form">
          <div>
            <label for="">Nome do Produto</label>
            <input type="text" [(ngModel)]="produto.nome" name="inputNome">
          </div>
          <div>
            <label for="">Descricao</label>
            <input type="text" [(ngModel)]="produto.descricao" name="inputDescricao">
          </div>
          <div>
            <label for="">Valor</label>
            <input type="number" [(ngModel)]="produto.valor" name="inputValor" min="0">
          </div>
          <div>
            <label for="">Disponível para venda</label>
            <select [(ngModel)]="produto.status" name="inputStatus">
              <option value="">Selecione</option>
              <option value="S">Sim</option>
              <option value="N">Não</option>
            </select>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="cadastrarProdutos()" data-bs-dismiss="modal">Salvar</button>
      </div>
    </div>
  </div>
</div>

